* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  background: #a855d4;
  background: linear-gradient(180deg, #af67e9, #6565e7 100%);
}

.container {
  width: 90%;
  max-width: 1024px;
  background-color: #FFF;
  margin: 15rem auto 5rem;
  border-radius: 2.5rem;
}
.container .mobileDecoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
}
.container .mobileDecoration__woman {
  position: absolute;
  top: -100px;
  height: 17rem;
}
.container .desktopDecoration {
  display: none;
}
.container .faq {
  padding: 5rem 0 3rem;
}
.container .faq__title {
  font-size: 3.5rem;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.container .faq .accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  padding: 0 1rem;
}
.container .faq .accordion__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px solid #e7e7e9;
}
.container .faq .accordion__content .accordion__text {
  color: #4a4b5e;
  font-size: 1.2rem;
}
.container .faq .accordion__content .accordion__text .accordion__paragraph {
  margin: 1rem 0;
}
.container .faq .accordion__content .accordion__text .accordion__paragraph.unshow {
  display: none;
}
.container .faq .accordion__content .accordion__img {
  align-self: flex-start;
  height: 0.9rem;
  margin: 1.5rem 0 1rem 1rem;
}
.container .faq .accordion__content.active .accordion__text .accordion__paragraph.show {
  font-weight: bold;
}
.container .faq .accordion__content.active .accordion__text .accordion__paragraph.unshow {
  display: block;
}
.container .faq .accordion__content.active .accordion__img {
  transform: rotate(180deg);
}

.footer {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container .faq .accordion {
    padding: 0 1.5rem;
  }
  .container .faq .accordion__content .accordion__text {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 375px) {
  .container .faq .accordion {
    padding: 0 2rem;
  }
  .container .faq .accordion__content .accordion__text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 500px) {
  .container .mobileDecoration__woman {
    top: -130px;
    height: 22rem;
  }
  .container .mobileDecoration__pattern {
    height: 12rem;
  }
  .container .faq {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .container .mobileDecoration__woman {
    top: -145px;
    height: 25rem;
  }
  .container .mobileDecoration__pattern {
    height: 14rem;
  }
  .container .faq .accordion {
    padding: 0 3rem;
  }
  .container .faq .accordion__content .accordion__text {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  .container .mobileDecoration {
    display: none;
  }
  .container .mobileDecoration__woman {
    top: -145px;
    height: 25rem;
  }
  .container .mobileDecoration__pattern {
    height: 14rem;
  }
  .container .desktopDecoration {
    display: block;
    width: 50%;
    margin-top: 6rem;
  }
  .container .desktopDecoration__woman {
    position: absolute;
    height: 36rem;
    left: -100px;
    z-index: 99;
  }
  .container .desktopDecoration__pattern {
    position: absolute;
    width: 58rem;
    left: -208px;
    top: -49px;
  }
  .container .faq {
    width: 50%;
    margin: 6rem 0;
    padding: 0;
    max-height: 36rem;
    overflow: auto;
  }
  .container .faq__title {
    text-align: left;
  }
  .container .faq .accordion {
    margin-top: 0.5rem;
    padding: 0 8rem 0 0;
    cursor: pointer;
  }
  .container .faq .accordion__content {
    margin: 0;
  }
  .container .faq .accordion__content .accordion__text {
    padding: 1rem 0;
  }
}
/*# sourceMappingURL=main.css.map */
