$VeryDarkGrayishBlue: hsl(237, 12%, 33%);
$DarkGrayishBlue: hsl(240, 6%, 50%);
$VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$LightGrayishBlue: hsl(240, 5%, 91%);
$SoftRed: hsl(14, 88%, 65%);


                                    * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Kumbh Sans', sans-serif;
}

body {font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
  background: rgb(168,85,212);
  background: linear-gradient(180deg,  hsl(273, 75%, 66%), hsl(240, 73%, 65%) 100%);
}

.container {
  width: 90%;
  height: 80vh;
  background-color: #FFF;
  margin: 10rem auto 0;
  border-radius: 2.5rem;
  & .faq {
    padding: 15rem 0;
    &__title {
      font-size: 3.5rem;
      color: black;
      text-align: center;
      text-transform: uppercase;
    }

    & .accordion {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-top: 2.5rem;
      padding: 0 1rem;

      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 1rem 0;
        border-bottom: 1px solid $LightGrayishBlue;

        & .accordion__text {
          color: $VeryDarkGrayishBlue;
          font-size: 1.2rem;

          & .accordion__paragraph {
            margin: 1rem 0;
          }

          & .accordion__paragraph.unshow {
            display: none;
          }
        }

        & .accordion__img {
          align-self: flex-start;
          height: .9rem;
          margin: 1.5rem 0 1rem 1rem
        }
      }

      &__content.active {

        & .accordion__text {

          & .accordion__paragraph.show {
            font-weight: bold;
          }

          & .accordion__paragraph.unshow {
            display: block;
          }
        }

        & .accordion__img {
         transform: rotate(180deg);
        }
      }
    }
  }
}