$VeryDarkGrayishBlue: hsl(237, 12%, 33%);
$DarkGrayishBlue: hsl(240, 6%, 50%);
$VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$LightGrayishBlue: hsl(240, 5%, 91%);
$SoftRed: hsl(14, 88%, 65%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Kumbh Sans', sans-serif;
}

body {font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
  background: rgb(168,85,212);
  background: linear-gradient(180deg,  hsl(273, 75%, 66%), hsl(240, 73%, 65%) 100%);
}

.container {
  width: 90%;
  max-width: 1024px;
  background-color: #FFF;
  margin: 15rem auto 5rem;
  border-radius: 2.5rem;

  & .mobileDecoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;

    &__woman {
      position: absolute;
      top: -100px;
      height: 17rem;
    }
  }

  & .desktopDecoration {
    display: none;
  }
  & .faq {
    padding: 5rem 0 3rem;
    &__title {
      font-size: 3.5rem;
      color: black;
      text-align: center;
      text-transform: uppercase;
    }

    & .accordion {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2.5rem;
      padding: 0 1rem;

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 1rem 0;
        border-bottom: 1px solid $LightGrayishBlue;

        & .accordion__text {
          color: $VeryDarkGrayishBlue;
          font-size: 1.2rem;

          & .accordion__paragraph {
            margin: 1rem 0;
          }

          & .accordion__paragraph.unshow {
            display: none;
          }
        }

        & .accordion__img {
          align-self: flex-start;
          height: .9rem;
          margin: 1.5rem 0 1rem 1rem
        }
      }

      &__content.active {

        & .accordion__text {

          & .accordion__paragraph.show {
            font-weight: bold;
          }

          & .accordion__paragraph.unshow {
            display: block;
          }
        }

        & .accordion__img {
         transform: rotate(180deg);
        }
      }
    }
  }
}

.footer {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    & .faq {
      & .accordion {
        padding: 0 1.5rem;
        &__content {
          & .accordion__text {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .container {
    & .faq {
      & .accordion {
        padding: 0 2rem;
        &__content {
          & .accordion__text {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .container {
    & .mobileDecoration {
      &__woman {
        top: -130px;
        height: 22rem;
      }
      &__pattern {
        height: 12rem;
      }
    }

    & .faq {
      padding-top: 3rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    & .mobileDecoration {
      &__woman {
        top: -145px;
        height: 25rem;
      }
      &__pattern {
        height: 14rem;
      }
    }
    & .faq {
      & .accordion {
        padding: 0 3rem;
        &__content {
          & .accordion__text {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    & .mobileDecoration {
      display: none;
      &__woman {
        top: -145px;
        height: 25rem;
      }
      &__pattern {
        height: 14rem;
      }
    }
    & .desktopDecoration {
      display: block;
      width: 50%;
      margin-top: 6rem;
      &__woman {
        position: absolute;
        height: 36rem;
        left: -100px;
        z-index: 99;

      }
      &__pattern {
        position: absolute;
        width: 58rem;
        left: -208px;
        top: -49px;
      }
    }
    & .faq {
      width: 50%;
      margin: 6rem 0;
      padding: 0;
      max-height: 36rem;
      overflow: auto;
      &__title {
        text-align: left;
      }
      & .accordion {
        margin-top: .5rem;
        padding: 0 8rem 0 0;
        cursor: pointer;
        &__content {
          margin: 0;
          & .accordion__text {
            padding: 1rem 0;
          }
        }
      }
    }
  }
}